* {
  box-sizing: border-box;
}

section {
  padding: 40px;
}

header {
  background-color: #f55a5a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
}

header img {
  width: 30px;
  height: 30px;
  margin: 0 7px 0 0;
}

header h1 {
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: -0.075em;
  margin: 0;
}

.card {
  display: flex;
  margin: 36px 0;
}

.card--img {
  width: 400px;
  border-radius: 10px;
  max-height: 266px;
  margin: 0 30px 0 0;
}

.card--header {
  display: flex;
  align-items: center;
}

.card--header img {
  width: 15px;
  height: 15px;
}

.card--country {
  font-weight: 400;
  font-size: 15px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2b283a;
  margin: 0 0 0 4px;
}

.card--link {
  font-weight: 400;
  font-size: 15px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918e9b;
  margin: 0 0 0 8px;
}

.card--title {
  font-weight: 700;
  font-size: 40px;
  line-height: 30px;
  color: #2b283a;
  margin: 4px 0 20px 0;
}

.card--dates {
  font-weight: 700;
  font-size: 15px;
  line-height: 12px;
  color: #2b283a;
}

.card--description {
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #2b283a;
  text-align: justify;
}
